import React from 'react';
import { Helmet } from 'react-helmet-async';
import HeroBlock from '@components/case-study/HeroBlock';
import ChallengeSection from '@components/case-study/ChallengeSection';
import StrategySection from '@components/case-study/StrategySection';
import BuildSection from '@components/case-study/BuildSection';
import OutcomesSection from '@components/case-study/OutcomesSection';
import PullQuote from '@components/case-study/PullQuote';
import CapabilitiesBadges from '@components/case-study/CapabilitiesBadges';
import CaseStudyCTA from '@components/case-study/CTA';
import { {{camelCase slug}} } from '@data/case-studies/{{slug}}';
import PageLayout from '@components/layout/PageLayout';

const {{pascalCase slug}}Page: React.FC = () => {
  const { visualIdentity } = {{camelCase slug}};

  return (
    <>
      <Helmet>
        <title>{{Title}} | BearCave Marketing</title>
        <meta
          name="description"
          content="{{Subtitle}}"
        />
      </Helmet>

      <div data-case-study="{{slug}}">
        <PageLayout>
          <HeroBlock
            title={{{camelCase slug}}.title}
            impact={{{camelCase slug}}.impact}
            stat={{{camelCase slug}}.stat}
            gradient={{{camelCase slug}}.visualIdentity.gradient}
            emoji={{{camelCase slug}}.visualIdentity.emoji}
          />

          <ChallengeSection
            title="Challenge"
            content={{{camelCase slug}}.challenge}
            visualIdentity={{
              primaryColor: visualIdentity.primaryColor,
            }}
          />

          <StrategySection
            title="Strategy"
            content={{{camelCase slug}}.strategy}
            visualIdentity={{
              primaryColor: visualIdentity.primaryColor,
            }}
          />

          <PullQuote
            quote="Transforming challenges into opportunities."
            visualIdentity={{
              primaryColor: visualIdentity.primaryColor,
            }}
          />

          <BuildSection
            title="What I Built"
            content={{{camelCase slug}}.whatIBuilt}
            visualIdentity={{
              primaryColor: visualIdentity.primaryColor,
            }}
          />

          <OutcomesSection
            outcomes={{{camelCase slug}}.outcomes}
            metrics={{{camelCase slug}}.metrics}
            capabilities={{{camelCase slug}}.capabilities}
          />

          <CapabilitiesBadges
            capabilities={{{camelCase slug}}.capabilities}
            visualIdentity={{
              primaryColor: visualIdentity.primaryColor,
            }}
          />

          <CaseStudyCTA
            title="Ready to transform your business?"
            primaryAction={{
              label: 'Start a Project',
              href: '/contact',
            }}
            secondaryAction={{
              label: 'View More Case Studies',
              href: '/case-studies',
            }}
            visualIdentity={{
              accentColor: visualIdentity.accentColor,
            }}
          />
        </PageLayout>
      </div>
    </>
  );
};

export default {{pascalCase slug}}Page;

